flask
flask-restx
flask-swagger-ui
gunicorn
redis
psycopg2-binary
sqlalchemy
python-dotenv
prometheus-client
requests

setuptools==69.5.1

opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp==1.25.0

opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-flask==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-instrumentation-sqlalchemy==0.46b0

email-validator
flask-sqlalchemy

PyJWT==2.8.0
bcrypt==4.1.2

requests==2.32.3
prometheus-client